<div class="row">
  <div class="col-md-12">
    <h1>Listing queries</h1>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>ID#</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @queries.each do |query| %>
          <tr>
            <td><%= query.id %></td>
            <td><%= query.username %></td>
            <td>
              <%= link_to 'Show', query %>
              <%= link_to 'Edit', edit_query_path(query) %>
              <%= link_to 'Destroy', query, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Query', new_query_path %>
  </div>
</div>